/.settings/ 
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/target/
/Servers/
/timer/
/.logs/
*.class
logs/

.classpath  
.project  
.DS_Store 

*.class  
*.jar
*.war
/.factorypath
/usercenter.iml
/.springBeans
/logs/
.springBeans
.idea
*.iml
